:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --font-family: "Lovers Quarrel", cursive;
  --font-weight: 800;
  --font-style: normal;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-size: 40px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #222222;
  font-size: 45px;
}

.show-notify {
  display: grid;
  gap: 25px;
  align-items: center;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.hide-notify {
  display: none;
}

.notify {
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 60px;
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 35px;
  max-width: 450px;
  border: solid 5px rgb(59, 35, 18);
  box-shadow: 0px 0px 35px 8px rgba(44, 44, 44, 0.596);
  border-radius: 15px;
  background-color: rgba(66, 46, 29, 0.801);
  color: #8db888;
}

#app-main-content {
  display: grid;
  place-items: center;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

input {
  background-color: rgba(99, 61, 30, 0.747);
  color: #ceac79;
}

input::after {
  background-color: rgba(99, 61, 30, 0.747);
  color: #ceac79;
}

input::content {
  background-color: rgba(99, 61, 30, 0.747);
  color: #ceac79;
}

.main-menu-btn {
  border: solid 1px rgba(70, 48, 32, 0.137);
  padding-right: 35px;
  padding-left: 35px;
  font-size: 50px;
  font-family: var(--font-family);
  font-style: var(--font-style);
  background-color: rgba(99, 61, 30, 0.747);
  color: #ceac79;
  height: 130px;
  border-radius: 15px;
}

.main-menu-btn:hover {
    box-shadow: 0px 0px 20px 5px rgba(141, 101, 55, 0.596);
}

#create-player-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  place-items: center;
  align-items: center;
}

#create-submit {
  position: relative;
  top: 50px;
  border: solid 1px rgba(70, 48, 32, 0.137);
  padding-right: 35px;
  padding-left: 35px;
  font-size: 60px;
  font-family: var(--font-family);
  font-style: var(--font-style);
  background-color: rgba(41, 70, 41, 0.705);
  color: #a9e9a2;
  height: 90px;
  border-radius: 15px;
}

#create-submit:hover {
    box-shadow: 0px 0px 20px 5px rgba(141, 101, 55, 0.596);
}

.start-game-btn-buis {
  border: solid 1px rgba(70, 48, 32, 0.137);
  padding-right: 35px;
  padding-left: 35px;
  font-size: 50px;
  font-family: var(--font-family);
  font-style: var(--font-style);
  background-color: rgba(40, 95, 56, 0.753);
  color: #98ec8d;
  height: 130px;
  border-radius: 15px;
}

.start-game-btn-buis:hover {
    box-shadow: 0px 0px 20px 5px rgba(141, 101, 55, 0.596);
}

.start-game-btn-castle {
  border: solid 1px rgba(70, 48, 32, 0.137);
  padding-right: 35px;
  padding-left: 35px;
  font-size: 50px;
  font-family: var(--font-family);
  font-style: var(--font-style);
  background-color: rgba(94, 62, 42, 0.712);
  color: #d6ac75;
  height: 130px;
  border-radius: 15px;
}

.start-game-btn-castle:hover {
    box-shadow: 0px 0px 20px 5px rgba(141, 101, 55, 0.596);
}

#form-names {
  grid-template-columns: 1fr 1fr 1fr;
}

#race-elem {
  display: grid;
  align-items: center;
  place-items: center;
  gap: 250px;
  grid-template-columns: 1fr 1fr;
}

#start-combat {
  position: relative;
  top: 25px;
  display: grid;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  width: 1055px;
}

#first-combat {
  position: relative;
  top: 25vh;
  border: solid 1px rgba(70, 48, 32, 0.137);
  padding-right: 50px;
  padding-left: 50px;
  font-size: 60px;
  font-family: var(--font-family);
  font-style: var(--font-style);
  background-color: rgba(54, 85, 50, 0.808);
  color: #a9e9a2;
  height: 90px;
  border-radius: 15px;
}

#first-combat:hover {
    box-shadow: 0px 0px 20px 5px rgba(94, 141, 55, 0.596);
}

.player-combat {
  display: grid;
  align-items: center;
  place-items: center;
  text-align: center;
  gap: 25px;
  grid-template-columns: 350px 1fr 350px;

}

.power-card {
  grid-column: 2 / 3;
  border: solid 1px rgba(70, 48, 32, 0.137);
  border-radius: 25px;
  margin: 80px;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 50px;
  font-family: var(--font-family);
  font-style: var(--font-style);
  background-color: rgba(54, 48, 58, 0.815);
  color: #ee9f38;
}

.power-card:hover {
    box-shadow: 0px 0px 20px 5px rgba(48, 48, 48, 0.596);
}

#npc-combat {
  grid-template-columns: 50px 1fr 50px;
  position: relative;
  top: 25px;
  display: grid;
  align-items: center;
  place-items: center;
  font-size: 60px;
  width: 800px;

  color: rgba(54, 48, 58, 0.815);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}

#npc-combat-sentence {
  grid-column: 2 / 3;
}